---
interface Props {
  triggerId: string
  title: string
  closeText?: string
  children?: HTMLElement | HTMLElement[]
}

const { triggerId, title, closeText = 'Close' } = Astro.props
---

<dialog class="modal" aria-labelledby={triggerId}>
  <div class="modal__inner">
    <div class="modal__content">
      <h3 tabindex="-1" autofocus>
        {title}
      </h3>
      <slot>Modal description.</slot>
    </div>
    <div class="modal__close">
      <button>
        <span class="modal__close-icon">
          <svg width="20" height="2" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill="currentColor" d="M20 .5v1H0v-1z"></path>
          </svg>
          <svg width="20" height="2" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill="currentColor" d="M20 .5v1H0v-1z"></path>
          </svg>
        </span>
        <span class="sr-only">{closeText}</span>
      </button>
    </div>
  </div>
</dialog>

<script>
  type FocusableElement =
    | HTMLAnchorElement
    | HTMLButtonElement
    | HTMLInputElement
    | HTMLTextAreaElement
    | HTMLSelectElement
    | HTMLDetailsElement

  // variables
  let modals = document.querySelectorAll<HTMLDialogElement>('.modal')

  // abort controllers for global event listeners
  let trapFocusController: AbortController | undefined
  let keydownController: AbortController | undefined

  const getKeyboardFocusableElements = (element: HTMLElement) => {
    return [
      ...element.querySelectorAll<FocusableElement>(
        'a, button, input, textarea, select, details,[tabindex]:not([tabindex="-1"])'
      ),
    ].filter((el) => !el.hasAttribute('disabled'))
  }

  const trapFocus = (event: KeyboardEvent, modal: HTMLDialogElement) => {
    const focusables = getKeyboardFocusableElements(modal)

    // These will not be undefined as a modal always has at least one <button>
    const firstFocusable = focusables[0]!
    const lastFocusable = focusables[focusables.length - 1]!

    if (document.activeElement === lastFocusable && event.key === 'Tab' && !event.shiftKey) {
      event.preventDefault()
      firstFocusable.focus()
    }

    if (document.activeElement === firstFocusable && event.key === 'Tab' && event.shiftKey) {
      event.preventDefault()
      lastFocusable.focus()
    }
  }

  const openModal = (modal: HTMLDialogElement) => {
    const modalInner = modal.querySelector<HTMLDivElement>('.modal__inner')

    modal.showModal()

    trapFocusController = new AbortController()
    keydownController = new AbortController()

    document.addEventListener('keydown', (e) => trapFocus(e, modal), { signal: trapFocusController.signal })

    modal.addEventListener(
      'click',
      () => {
        closeModal()
      },
      { signal: keydownController.signal }
    )

    modalInner!.addEventListener(
      'click',
      (event) => {
        event.stopPropagation()
      },
      { signal: keydownController.signal }
    )
  }

  const closeModal = () => {
    modals.forEach((modal) => {
      const modalId = modal.getAttribute('aria-labelledby')
      const modalTrigger = document.querySelector(`#${modalId}`) as HTMLButtonElement
      modalTrigger.focus({ preventScroll: true })
      modal.close()
      trapFocusController?.abort()
      keydownController?.abort()
    })
  }

  // execution
  modals.forEach((modal) => {
    const modalId = modal.getAttribute('aria-labelledby')
    const modalCloseButton = modal.querySelector('.modal__close button')
    const modalTrigger = document.querySelector(`#${modalId}`)

    if (!modalTrigger) {
      throw new Error(`Trigger element not found. \n
      Did you forget to add a trigger element with id: "${modalId}"?`)
    }

    modalTrigger.addEventListener('click', () => openModal(modal))
    modalCloseButton!.addEventListener('click', closeModal)
  })

  window.closeModal = closeModal

  // Listen for view transitions
  document.addEventListener('astro:after-swap', () => {
    // reset variables
    modals = document.querySelectorAll<HTMLDialogElement>('.modal')

    // execution
    modals.forEach((modal) => {
      const modalId = modal.getAttribute('aria-labelledby')
      const modalCloseButton = modal.querySelector('.modal__close button')
      const modalTrigger = document.querySelector(`#${modalId}`)

      if (!modalTrigger) {
        throw new Error(`Trigger element not found. \n
      Did you forget to add a trigger element with id: "${modalId}"?`)
      }

      modalTrigger.addEventListener('click', () => openModal(modal))
      modalCloseButton!.addEventListener('click', closeModal)
    })
  })
</script>

<style is:global>
  .modal {
    --translate-offset-y: 7.5vh;

    position: fixed;
    inset-block: 0;
    inset-inline: 0;
    margin: auto;
    inline-size: min(80%, 450px);
    border: 2px solid light-dark(#202020, #f0f0f0);
    border-radius: 0.5rem;
    opacity: 0;
    overscroll-behavior-y: contain;

    @media (prefers-reduced-motion: no-preference) {
      transition-property: display, opacity, translate, overlay;
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
      transition-behavior: allow-discrete;
      translate: 0 var(--translate-offset-y);
    }

    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }
  }

  .modal[open] {
    display: block;
    opacity: 1;
    translate: 0 0;
  }

  @starting-style {
    .modal[open] {
      opacity: 0;
      translate: 0 calc(var(--translate-offset-y) * -1);
    }

    .modal[open]::backdrop {
      opacity: 0;
    }
  }

  .modal[open]::backdrop {
    opacity: 1;
  }

  .modal::backdrop {
    opacity: 0;
    background-color: rgba(0 0 0 / 0.5);
    backdrop-filter: blur(5px);

    @media (prefers-reduced-motion: no-preference) {
      transition-property: display, opacity, overlay;
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
      transition-behavior: allow-discrete;
    }
  }

  .modal__content {
    padding: 2rem;
    background-color: light-dark(#f0f0f0, #202020);
  }
  .modal__content > *:not(:first-child) {
    margin-block-start: 0.75rem;
  }

  .modal__close {
    position: absolute;
    inset-inline-end: 1.5rem;
    inset-block-start: 1.5rem;
    align-self: flex-end;
  }

  .modal__close button {
    border: none;
    padding: 0.5rem;
  }

  .modal__close-icon {
    position: relative;
    display: inline-block;
    block-size: 20px;
    aspect-ratio: 1;

    svg {
      position: absolute;
      inset: 0;
      margin: auto;

      &:first-of-type {
        transform: rotate(45deg);
      }

      &:last-of-type {
        transform: rotate(-45deg);

        @media (prefers-reduced-motion: no-preference) {
          transition: transform 0.2s ease-in-out;
        }
      }
    }
  }

  .modal__close button:where(:hover, :focus-visible) {
    .modal__close-icon {
      svg:first-of-type {
        transform: rotate(0deg);
      }

      svg:last-of-type {
        transform: rotate(180deg);
      }
    }
  }

  body:has(dialog[open]) {
    overflow-y: clip;
  }
</style>
